<!DOCTYPE html>
<html class="h-full" lang="<%= I18n.locale %>" data-locale="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || t("app.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= t("app.name") %>">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" data-turbo-track="reload">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
    <script>
      window.MAP_I18N = <%= raw I18n.t("js").to_json %>;
    </script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 h-dvh w-full overflow-hidden bg-zinc-100 p-0 antialiased">
    <%= yield %>
  </body>
</html>
